:root {
		/* Rosé Pine */
		--rp-base: #191724;
		--rp-surface: #1f1d2e;
		--rp-overlay: #26233a;
		--rp-muted: #6e6a86;
		--rp-subtle: #908caa;
		--rp-text: #e0def4;
		--rp-love: #eb6f92;
		--rp-gold: #f6c177;
		--rp-rose: #ebbcba;
		--rp-pine: #31748f;
		--rp-foam: #9ccfd8;
		--rp-iris: #c4a7e7;
		--rp-highlight-low: #21202e;
		--rp-highlight-med: #403d52;
		--rp-highlight-high: #524f67;
	
		/* Rosé Pine Moon */
		/* --rp-base: #232136; */
		/* --rp-surface: #2a273f; */
		/* --rp-overlay: #393552; */
		/* --rp-muted: #6e6a86; */
		/* --rp-subtle: #908caa; */
		/* --rp-text: #e0def4; */
		/* --rp-love: #eb6f92; */
		/* --rp-gold: #f6c177; */
		/* --rp-rose: #ea9a97; */
		/* --rp-pine: #3e8fb0; */
		/* --rp-foam: #9ccfd8; */
		/* --rp-iris: #c4a7e7; */
		/* --rp-highlight-low: #2a283e; */
		/* --rp-highlight-med: #44415a; */
		/* --rp-highlight-high: #56526e; */
	}


